flask
transformers>=4.30.0
requests
beautifulsoup4
docker
flask-cors
langchain>=0.0.267
python-dotenv
torch>=2.0.0
llama-cpp-python
duckduckgo-search
faiss-cpu
nltk
scikit-learn
matplotlib
numpy
aiohttp
chromadb
pytest
openai
agentops
llmware
selenium
webdriver_manager
fastapi
uvicorn